<h1>What dog is your type!</h1>

<h2>!</h2>
<ol>
  {{#each question}}
    {{#unless answered}}
      {{> question/dogs-to-choose}}
    {{/unless}}
  {{/each}}
</ol>

<h2> List!</h2>
<ol>
  {{#each question}}
    {{#if answered}}
      {{> question/question-block}}
    {{/if}}
  {{/each}}
</ol>

<h2>Full List</h2>
<ol>
    {{#each question}}
        {{> question/question-block}}
    {{/each}}
</ol>

<h2>!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bg">dog name/fixin's:</label>
    <input type="text" id="bg" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
