
<main>
  <h1>FIND THE PUP FOR YOUR PERSONALITY!</h1>
  <div class="container">
    <div class="col s6 image">
      <img src="/assets/img/dogs14.png" alt="Dog" class=".img-fluid. max-width: 100%; height: auto;">
    </div>
    <row class="hide">
      <div class="col-sm" id="next-question">
        <h3>{{question}}:</h3>
        <button type="submit">A: </button><p>{{optionA}}</p>
        <button type="submit">B: </button><p>{{optionB}}</p>
        <button type="submit">C: </button><p>{{optionC}}</p>
        <button type="submit">Next Question</button>
      </div>
    </row>
  </div>
</main>


{{!-- 1. dog image changes when next question changes -copyright questions? google images. Change to calling free api of dog images?
 2. dog image fills the container/its a container around a container?
3. put a dog wallpaper-like image on the background of the site? --}}