<main>
    <div class="container text-center">
            <h1>FIND THE PUP FOR YOUR PERSONALITY!</h1>
        <div class="col s6 image">
            <img src="/assets/img/dogs14.png" alt="Dog" class=".img-fluid. max-width: 100%; height: auto;">
        </div>
        <div class="row">
            <div class="col-sm">
                <h3>We will help you match with the perfect dog for your personality and temperament.</h3>
                <h4>Take this short quiz to get started!</h4>
                <button id="startQuiz" onclick="startQuiz()"><h1>Start Quiz!</h1></button>
            </div>
            <div class="col-sm">
                <h3>Already a member?</h3>
                <h4>Log in here!</h4>
                <button id="logIn" onclick="logIn()"><h1>Log In!</h1></button>
            </div>
        </div>
    </div>
</main>